#container-tipos {
  width: 100%;
  display: flex;
  max-width: 1100px;
}
#tipos-card {
  width: 110%;
  height: 650px;
  margin: 20px;
  overflow: hidden;
  cursor: default;
  transition: all 400ms ease;
  padding: inherit;
  border: 3px solid gray;
}
#logo-nav {
  position: relative;
  bottom: 4px;
}
#login-nav {
  position: relative;
  bottom: 4px;
}
#tipos-card:hover {
  box-shadow: 10px 10px 30px black;
  transform: translateY(-3%);
}
#list-group1 {
  position: relative;
  top: 35px;
}
#list-group2 {
  color: #000000;
  width: 100%;
  position: relative;
  top: 35px;
}
#container-card {
  padding: 15px;
  text-align: center;
}

#buscador_categoria {
  width: 25%;
}
#buscador_ciudad {
  width: 55%;
}
#card-desarrollador {
  width: 100%;
  height: 450px;
  margin-top: 20px;
  box-shadow: 0px 5px 5px 0px #000000;
}
#footer-counter {
  position: relative;
  bottom: 45px;
}
#numeros-pagina {
  margin-top: 30px;
}
#info_cliente {
  padding-top: 20px;
}
#vista_cliente {
  position: relative;
  top: 160px;
  margin-top: 100px;
  border: 10px solid black;
  border-radius: 18px;
  /* border-image: linear-gradient(to bottom, #4d3880 0%, #992e64 100%) 1; */
  margin-bottom: 100px;
}
#card-body5 {
  background: linear-gradient(180deg, #4d3880 0%, #992e64 100%);
}
.card-link5 {
  position: relative;
  left: 110px;
}
.text-center1 {
  background: linear-gradient(180deg, #ffffff, #b295e6);
  text-align: center !important;
}
.img-card {
  width: 100%;
  height: 215px;
  object-fit: cover;
}
.cc1 {
  position: absolute;
  left: 5px;
  top: 170px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.bc1 {
  position: absolute;
  left: 220px;
  margin-top: 20px;
}
.cc2 {
  position: absolute;
  right: 5px;
  top: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 400px;
}
.bc2 {
  margin-top: 20px;
}
.navbar-brand {
  object-fit: cover;
}
.iniciar-sesion {
  margin-right: 3px;
}
.fotous {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}
#card-body6 {
  flex: 1 1 auto;
  padding: 3rem 1rem;
}
#footerpag {
  color: white;
  position: relative;
  top: 0px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}
#footerpag-login {
  color: white;
  position: relative;
  top: 1px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}
#footerpag-cliente {
  color: white;
  position: relative;
  top: 391px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}
.Nosotros-section {
  padding-bottom: 90px;
}

.baninfo {
  padding-top: 40px;
}
.bantexto {
  margin-left: 100px;
  margin-right: 100px;
  color: white;
  line-height: 150%;
  text-align: center;
}
#cont-profesionales {
  width: 100%;
  /*  display: flex;
  max-width: 1100px; */
}
#card-profesional {
  width: 100%;
  height: 180px;
}
#cprof1 {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  cursor: default;
  transition: all 400ms ease;
  border: 4px solid transparent;
  border-image: linear-gradient(to bottom, #4d3880 0%, #992e64 100%) 1;
}
#cprof {
  width: 100%;
  height: 280px;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  cursor: default;
  transition: all 400ms ease;
  border: 4px solid transparent;
  border-image: linear-gradient(to bottom, #4d3880 0%, #992e64 100%) 1;
}

#cprof:hover {
  box-shadow: 10px 10px 30px black;
  transform: translateY(-3%);
}
#container-card {
  padding: 15px;
  text-align: center;
}
#banner {
  margin-top: 80px;
}
#banner2 {
  padding-top: 130px;
  margin-bottom: 90px;
}
.cbw {
  padding-left: 100px;
}
#button-buscador {
  background-color: #8c5fbe;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}
/* #button-fav {
} */
.button-fav {
  color: #8c5fbe;
  border-color: #8c5fbe;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}
#buscador_ciudad,
#buscador_categoria {
  box-shadow: 0px 5px 5px 0px #adb5bd;
}
