body {
  background-color: black;
  background-image: url(https://img.wallpapic.es/i3674-241-435/thumb/the-matrix-azules-turquesa-verdes-fondo-de-pantalla.jpg);
  background-size: cover;
  background-attachment: fixed;
}
