body {
  background-color: black;
  background-image: url(https://getwallpapers.com/wallpaper/full/b/b/e/1283225-hd-wallpaper-mac-2560x1440-samsung-galaxy.jpg);
  background-size: cover;
  background-attachment: fixed;
}
